<div class="shoppingCart">
    
    <h1>CART</h1>


    <div class="emptyCart">
        <p>Your cart is currently empty</p>
    </div>
    

    <!-- <div class="cart">
        <h4>Preview Cart products</h4>
        <table style="border: 2px solid black">
            <tr ng-repeat="product in carts" ng-init = "setTotals(product)">
                <td>

                    <div class="imgBox">
                        <img ng-src="{{product.img}}" alt="{{product.name}}">
                    </div>

                    <div>{{product.name}}</div>
                    
                </td>
                
                <td>
                <div>{{product.price | currency:" "}}</div>
                <button class="btn" ng-click="removeItem(product)">Remove</button>
                </td>
            </tr>

            <tr class="calculate"> 
                <td class="quantity"> <div><p>Total items in cart: 
            {{quantity}}</p></div> </td>
                <td class="total"><div>{{total | currency:" "}}</div></td>
            </tr>
        </table>
    </div> -->

    <a href="#bike parts.html"><button type="submit" class="return">Return to shop</button></a>

</div>


    
